<!DOCTYPE html>
<html>
  <head>
    <title>Sings</title>
  </head>
  <body>
    <table>
      <% for(var i=0; i < data.length; i++) { %>
         <tr>
           <td><%= data[i].Name %></td>
           <td><%= data[i].Type %></td>
         </tr>
      <% } %>
      </table>
  </body>
</html>